.main {
  margin-left: 220px;
  margin-right: 20px;
  background-color: #ecf9ff;
  padding: 20px 15px;
  height: 100%;
}

.main .col {
  margin: 5mm;
  background-color: white;
  max-height: 6cm;
  border-radius: 4mm;
}
